@font-face {
	font-family: "Ink Free";
	src: local("Ink Free"), url(./font/Inkfree.ttf);
}

:root {
	background-color: rgb(37, 17, 17);
}

#counter {
	margin: 5px;
	font-size: 1.5rem;
}

.loader,
span,
.spinner {
	position: absolute;
	top: 150px;
	left: 450px;
	width: 200px;
	height: 200px;
}

span {
	line-height: 200px;
	padding-left: 40px;
	font-size: 20px;
	font-family: "Ink Free";
	letter-spacing: 1px;
	color: rgb(133, 161, 196);
	text-shadow: 0 0 0 #ffffffbf, 0 0 2px #1e90ff, 0 0 4px #1e90ff,
		0 0 6px #1e90ff, 0 0 8px #1e90ff, 0 0 10px #1e90ff;
}

.spinner {
	border-radius: 50%;
	box-shadow: 3px 0 1px -1px #fff, 5px 0 5px #1e90ff80,
		inset -10px 0 10px -5px #1e90ff80;
	animation: loading 1s linear infinite;
}
